<div class="w-full h-[795px] px-6 bg-[#E3E3DA]">
  <div class="flex pt-5">
    <div class="h-[333px] w-[772px] p-[10px]">
      <img
        class="w-[526px] h-[115px] mb-5"
        src="https://spardhaarivu.in/assets/images/home/home-logo.png"
        alt="logo"
      />
      <p class="w-[691px] h-[66px] pr-[150px] mb-8 text-[12px]">
        SURYASOUNDARYA PRAKASHANA PVT LTD is simplifying, revolutionizing,
        redefining the content and preparation for civil service exams through
        its products Spardha Arivu(Kannada), Competitive Awareness and
        Review(English) magazines and through its other publications
      </p>
    </div>
    <div class="mt-[92px] w-[308px] h-[240px] text-[12px]">
      <h1 class="mb-5 font-bold">QUICK LINKS</h1>
      <ul>
        <li class="mb-1">Who we are</li>
        <li class="mb-1">FAQs</li>
        <li class="mb-1">Contact us</li>
        <li class="mb-1">Payment & Refund Policy</li>
        <li>Shipping Policy</li>
      </ul>
    </div>
    <div class="mt-[92px] w-[308px] text-[12px]">
      <h1 class="mb-5 font-bold">SOCIAL MEDIA</h1>
      <ul>
        <li class="mb-1">Facebook</li>
        <li class="mb-1">Youtube</li>
        <li class="mb-1">Instagram</li>
        <li class="mb-1">Twitter</li>
        <li>Telegram</li>
      </ul>
    </div>
    <div class="mt-[92px] w-[463px] text-[12px]">
      <h1 class="mb-5 font-bold">CONTACT US</h1>
      <span>
        8/18 1st Main,Income tax Layout Vijayanagara,Behind Attiguppe,bengaluru
        - 560040
        <br />
        Mobile: +91 9008496009
        <br />
        Email: contact&#64;spardhaarivu.in
      </span>
    </div>
  </div>
  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1944.09649738933!2d77.530027!3d12.959499!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d84695fd633%3A0x43edc9ca44eba09e!2sSpardha%20Arivu!5e0!3m2!1sen!2sin!4v1714909312954!5m2!1sen!2sin"
      width="1350"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <p class="text-gray-400 text-sm mt-12 font-light">Version 2.0</p>
  <hr class="border-gray-600" />
  <div class="w-[1390px] h-[76px] pt-3 flex justify-between">
    <div>
      <p class="text-[12px] font-thin">
        Copyright © 2024 Sparadha Arivu. All Rights Reserved.
        <span class="font-bold">Terms Of Use| Privacy Policy</span>
      </p>
    </div>
    <div>
      <p class="text-[12px] font-thin">
        Design and Developed by
        <span class="font-bold">
          <a href="https://greenbots.in/" target="_blank"
            >Greenbots Software</a
          ></span
        >
      </p>
    </div>
  </div>
</div>
