<div class="">
  <h1 class="mt-[42px] mb-[14px] text-center text-[20px] font-bold">
    FEATURED MAGAZINES
  </h1>
  <hr class="mb-1" />
  <h3 class="text-center font-extralight text-[12px] text-gray-400">
    our monthly magazines are available to buy
  </h3>
</div>
<div class="flex justify-evenly">
  <div
    *ngFor="let item of data"
    class="h-[354px] w-[231px] shadow-2xl rounded-lg hover:shadow-none m-[14px]"
  >
    <img
      [src]="item.magazineImageUrl"
      alt="{{ item.magazineName }}"
      class="h-[240px] w-[211px]"
    />
    <div class="mx-[10px] pt-3">
      <div class="flex justify-between font-extralight text-[12px]">
        <span> {{ item.languageName }}</span>
        <span>({{ item.reviewsCount }} reviews)</span>
      </div>
      <h1 class="py-[2px]">{{ item.magazineName }}</h1>
      <!-- You can display other properties here -->
      <!-- <hr class="my-[10px]" /> -->
    </div>

    <div class="flex justify-between mx-[10px]">
      <h1 class="text[16px]">
        ₹{{ item.discountAmount
        }}<span class="text-[8px] line-through">₹{{ item.actualAmount }}</span>
      </h1>
      <button class="text-[12px] text-green-500">ADD TO CART</button>
    </div>
  </div>
</div>
